@page "/register"
@layout SiginLayout
@inject IAuthenticationService Auth
@inject NavigationManager NavigationManager
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
        <EditForm Model="@register" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <p class="text-danger @((message!=null)?"":"d-none")">@message</p>
            <ValidationSummary />
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <InputText class="form-control" id="firstName" @bind-Value="register.FirstName" placeholder="First name" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <InputText class="form-control" id="lastName" @bind-Value="register.LastName" placeholder="Last name" />
            </div>
            <div class="form-group">
                <label for="username">User name:</label>
                <InputText class="form-control" id="username" @bind-Value="register.Username" placeholder="User name" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <InputText type="password" class="form-control" id="password" @bind-Value="register.Password" placeholder="Password" />
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <InputText class="form-control" id="role" @bind-Value="register.Role" placeholder="Role" />
            </div>
            <button disabled="@loading" type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
        </div>
    </div>
    @code{
        private string message;
        private bool loading;
        private RegisterModel register = new RegisterModel();
        private async Task HandleValidSubmit()
        {
            loading = true;

            var result = await Auth.RegisterUser(register);
            if (!result.IsAuthSuccessful)
            {
                //Xử lý thông báo lỗi
                message =result.Message;
            }
            else
            {
                //Chuyển hướng đến trang đăng nhập
                NavigationManager.NavigateTo("signin");
                
            }
            loading = false;
        }
    }